@import url("mott-css/mott.css");

body {
    color: white;
    background-color: #525252;
    font-family: Arial;
}

a {
    color: lightblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#headlinks div a:hover {
    font-style: italic;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.groups {
    /*margin: 20px;*/
    padding: 10px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #7F7F7F;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
}
.groups:last-of-type {
    margin-bottom: 10px;
}

header {
    padding: 15px 10px;
    background-color: #3F3F3F;
}

footer {
    padding: 10px 10px;
    background-color: #3F3F3F;
    color: white;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.place {
    display: inline-block;
}
.place p {
    text-align: center;
}
.place img {
    height: 100px;
}

#comments {
    background-color: white;
}
