@import url("mott.css/mott.css");

body {
    color: white;
    background-color: #525252;
}

a {
    color: lightblue;
    text-decoration: none;
}

.sidebar {
    float: right;
    border-color: #7F7F7F;
    border-style: solid;
    position: fixed;
    width: 10%;
    left: 5;
    padding: 5px;
    overflow: auto;
}

.content {
    /*margin: 20px;*/
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #7F7F7F;
    width: 70%;
    margin: auto;
    
}

header {
    padding: 15px 10px;
    background-color: #3F3F3F;
}

footer {
    padding: 10px 10px;
    background-color: #3F3F3F;
    color: white;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.place {
    display: inline-block;
}
.place p {
    text-align: center;
}
.place img {
    height: 100px;
}

#comments {
    color: white;
}
